@{
     Layout = "~/Views/Shared/StudentLayout.cshtml";
    ViewBag.Title = "Clubs";
    }
@model InsatClub.Data.ClubsInsatContext ;


@if (ViewData["info"] =="ok"){
     <ul>
        <li class="list-group-item list-group-item-success">Votre demande a été envoyer au club avec succés ! </li>
    </ul>

}
    



<main id="main">

    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">

        </div>
    </div>

   @foreach(var club in Model.Clubs)
{
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"  src="@club.Image"  /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4"><b>@club.Nom</b></h2>
                    <p>@club.Description</p>
                </div>
                <div class="p-5">
                      <a asp-controller="Students" asp-action="JoinClub" asp-route-id=@club.Id >
                          <button type="button" class="btn btn-danger">
                            Join
                        </button> </a>
                    <a href="@club.Url"><button type="button" class="btn btn-info">Follow</button></a>
                </div>

            </div>
        </div>
    </div>
</section>
}
</main>