<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2X_PlnQ-Db6RdO33aU0UBO-aiUU3K6hRPivxxg0KpEg&s" style="width:50px;height: 50px" />
            <a class="navbar-brand" asp-area="" asp-controller="Insat" asp-action="Index" style="padding-left: 2%">Insat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left:70%;">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" style="margin-right: 20%">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Insat" asp-action="Clubs">Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Insat" asp-action="Events">Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
     <div class="container" style="margin-top: 10%">
       <h1 style="margin-bottom: 2%">Clubs de l'Insat</h1>
    <p>   
        La vie associative est riche et favorisée par l'Institut qui y attache la plus grande importance. L'activité associative contribue, comme les stages, à préparer l'insertion professionnelle des futurs techniciens et ingénieurs en les habituant à communiquer avec l'environnement extérieur.
        <br /> Elle offre l'opportunité de prendre des responsabilités, de s'affirmer et de mettre en pratique les théories apprises. C'est pourquoi dans certains cas, la maîtrise des savoirs exigés par l'INSAT peut être acquise par un travail spécifique fondé sur une activité associative.
        <br /> Chacun s'y découvre, s'y révèle, cerne mieux ses goûts et aptitudes et s'y épanouit.

        <br />  <b>  L'INSAT compte plusieurs clubs à vocation scientifique, économique, sportive, culturelle, ludique ou caritative, à travers lesquelles les étudiants contribuent à la notoriété de l'institut.</b>
    </p>
</div>
</main>
</div>